.instructables {
    margin-top: 150px;
    margin-bottom: 200px;
    margin-left: 150px;
    margin-right: 150px;
    letter-spacing: 2px;
    line-height: 2;
    font-size: 15px;
    position: relative;
}

.projects {
    position: absolute;
    top: 140px;
    left: 285px;
    font-size: 350%;
    font-family: Georgia, Serif;
    color: #424242;
}

@media screen and (max-width: 480px) {
    .projects {
        font-size: 15px;
    }
}

@media screen and (min-width: 800px) {
    .projects {
        font-size: 25px;
    }
}

@media screen and (min-width: 1200px) {
    .projects {
        font-size: 40px;
    }
}
