/*Start Variables*/

:root {
    --main-color: #ffe500;
    --secondary-color: #707070;
    --backgroung-color: #f4f4f4;
    --black-color: #1b1b1b;
    --main-duration: 0.3s;
    --line-height: 1.6;
}

/*End Variables*/

/*Start Component*/

.special-Heading {
    font-size: 20pt;
    color: var(--black-color);
    text-align: center;
    letter-spacing: 4px;
}

@media (min-width: 300px) {
    .special-paragraph {
        color: #707070;
        line-height: var(--line-height);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 833px) {
    .special-paragraph {
        color: #707070;
        line-height: var(--line-height);
        width: 769px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*End Component*/

/*Start Global Rules*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 790px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*End Global Rules*/

/*Start Header*/

.header {
    background-image: url(../images/head1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header .container .top-header {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    margin: 0 30px;
}

.header .container .logo img {
    width: 60px;
    position: relative;
}

.header .links {
    position: relative;
}

.header .links:hover .icons span:nth-child(2), .header .links:hover .icons span:last-child {
    width: 100%;
}

.header .links .icons {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icons span {
    background-color: var(--main-color);
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icons span:first-child {
    width: 100%;
}

.header .links .icons span:nth-child(2) {
    width: 80%;
    transition: var(--main-duration);
}

.header .links .icons span:last-child {
    width: 60%;
    transition: var(--main-duration);
}

.header .links ul {
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--section-background);
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    min-width: 200px;
    display: none;
}

.header .links ul::before {
    content: " ";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #8684a29e transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}

.header .links:hover ul {
    display: block;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #8684a29e;
}

.header .links ul li a {
    display: block;
    text-decoration: none;
    transition: var(--main-duration);
    color: #fff;
    padding: 15px;
    font-weight: bold;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .text h2 {
    line-height: var(--line-height);
    text-align: center;
    font-size: 20pt;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .header .text h2, .header .text h3 {
        width: 300px;
    }
    .header .text h3 {
        padding-top: 60px;
    }
}

.header .text h3 {
    line-height: var(--line-height);
    text-align: center;
    font-size: 13pt;
    color: #fff;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 50px;
}

.header .text span {
    background-color: var(--main-color);
    font-weight: bold;
    padding: 15px;
    font-size: 10pt;
    color: black;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
}

.header .text span a {
    font-size: 10pt;
    color: black;
    text-decoration: none;
}

.header i {
    color: #fff;
}

.header img:last-of-type {
    position: absolute;
    bottom: 27px;
    right: 50%;
    width: 19px;
    margin: -5px;
    padding: 1px;
}

.header .container i:first-of-type {
    font-size: 15px;
    position: absolute;
    color: #fff;
    bottom: 9px;
    right: 50%;
}

.header i:last-child {
    font-size: 15px;
    position: absolute;
    color: #fff;
    bottom: 3px;
    right: 50%;
}

/*End Header*/

/*Start Landing*/

.landing {
    padding-top: 60px;
    text-align: center;
}

.landing i {
    color: var(--main-color);
}

@media (min-width: 300px) {
    .landing .text p {
        font-size: 15pt;
        color: var(--secondary-color);
        margin-left: auto;
        margin-right: auto;
        line-height: var(--line-height);
    }
}

@media (min-width: 616px) {
    .landing .text p {
        font-size: 15pt;
        color: var(--secondary-color);
        margin-left: auto;
        margin-right: auto;
        width: 576px;
        line-height: var(--line-height);
    }
}

/*End Landing*/

/*Start Services*/

.services {
    background-color: var(--backgroung-color);
}

.services .elements {
    position: relative;
}

.rotate-90 {
    transform: rotate(90deg);
}

.services .elements i, .portofolio .elements i {
    margin-top: 40px;
    color: #6b6b6b;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.services .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.services .content .block {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 0 1px 2px #999;
}

.services .content .block i {
    color: var(--main-color);
}

.services .content .block h3 {
    color: var(--black-color);
    font-size: 15pt;
    width: 125px;
    margin-left: auto;
    margin-right: auto;
}

.services .content p {
    color: var(--secondary-color);
    line-height: var(--line-height);
    font-size: 12pt;
}

.services .content .block h5, .services .content .block h5, .services .content .block h5, .services .content .block h5 {
    font-size: 13pt;
    color: var(--black-color);
    font-weight: normal;
    padding-left: 5px;
    margin: 0 0 8px 0;
}

.w3-light-grey, .w3-hover-light-grey:hover {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    color: #000!important;
    background-color: #F6F6F6!important
}

.w3-grey, .w3-hover-grey:hover {
    color: #000!important;
    background-color: #F9E522!important
}

.statitics {
    background-color: #1a1a1a;
    margin-top: 15px;
}

.statitics .container .contents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

@media (min-width: 300px) {
    .statitics .container .contents .block {
        width: 270px;
        background-color: #ffffff;
        padding: 10px;
    }
    .statitics .container .contents .block:first-child {
        margin-top: 20px;
    }
    .statitics .container .contents .block:nth-child(4) {
        margin-bottom: 20px;
    }
}

@media (min-width: 566px) {
    .statitics .container .contents .block {
        width: 270px;
        background-color: #ffffff;
        padding: 10px;
    }
    .statitics .container .contents .block:first-child, .statitics .container .contents .block:nth-child(2) {
        margin-top: 20px;
    }
    .statitics .container .contents .block:nth-child(3), .statitics .container .contents .block:nth-child(4) {
        margin-bottom: 20px;
    }
}

@media (min-width: 1200px) {
    .statitics .container .contents .block {
        width: 270px;
        background-color: #ffffff;
        padding: 10px;
    }
    .statitics .container .contents .block:first-child, .statitics .container .contents .block:nth-child(2) {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .statitics .container .contents .block:nth-child(3), .statitics .container .contents .block:nth-child(4) {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.statitics .container .contents .block h3 {
    font-size: 15pt;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    ;
}

.statitics .container .contents .block h4 {
    font-size: 13pt;
    font-weight: normal;
    letter-spacing: 1px;
}

/*End Services*/

/*Start Portofolio*/

@media (min-width: 100px) {
    .portofolio .container .partition {
        text-align: center;
    }
    .partition .part-two img {
        width: 60px;
        margin-top: 0px;
    }
}

@media (min-width: 972px) {
    .portofolio .container .partition {
        display: grid;
        grid-template-columns: [first] 43% [line2] 9% 43% [end];
        grid-gap: 20px;
    }
    .partition .part-two img {
        width: 60px;
        margin-top: 50px;
    }
}

.partition .part-one .content, .partition .part-three .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.partition h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--black-color);
    font: 13pt;
    font-weight: normal;
    letter-spacing: 1px;
}
body {
    background-color: #eee;
}

.products {
    width: 1200px;
    margin: 10px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.products .product {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    height: 256px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products .product:hover .inside {
    top: 100%;
}
.products .product:hover img {
    opacity: 0.2;
}
.products .product .inside {
    position: absolute;
    left: 50%;
    top: -50%;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    transform: translate(-50%, -200%);
    transition: 0.3s;
    opacity: 1;
}
@media (min-width: 300px) {
    .products {
        width: 400px;
        margin: 10px auto;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
@media (min-width: 700px) {
    .products {
        width: 600px;
        margin: 10px auto;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
@media (min-width: 1100px) {
    .products {
        width: 900px;
        margin: 10px auto;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
@media (min-width: 1500px) {
    .products {
        width: 1400px;
        margin: 10px auto;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

.portofolio .images img {
    width: 100%;
}


    .portofolio .quistion {
        text-align: center;
        margin-left: auto;
        margin-left: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .portofolio .quistion span a {
        padding: 10px;
        text-decoration: none;
        color: var(--black-color);
        font-size: 10pt;
        background-color: var(--main-color);
    }
    .special-image {
        position: relative;
    }
    .special-image img {
        width: 100%;
    }
    .special-image .text {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    @media (min-width: 1500px) {
        .portofolio .images .text-four .word-three {
            color: #fff;
            position: absolute;
            right: 90px;
            top: 66px;
            transform: rotate(334deg);
        }
    }
    .special-image .text span a {
        z-index: 2;
        opacity: .7;
        padding: 8px;
        border: var(--main-color) 2px solid;
        color: var(--main-color);
        font-weight: 100;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*End Portofolio*/
    /*Start Team*/
    .team {
        position: relative;
    }
    .team .container .elements i {
        margin-top: 40px;
        color: #6b6b6b;
        text-align: center;
        display: inline-block;
        width: 100%;
    }
    .team .container .elements .team-member {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 20px;
        position: relative;
    }
    .block-1 .image,
    .block-2 .image,
    .block-3 .image,
    .block-4 .image {
        position: relative;
    }
    .team .container .elements .team-member img {
        display: block;
        z-index: 1;
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .team .container .elements .team-member .block-1 span {
        bottom: 0;
        right: 0;
        background: var(--main-color);
        padding: 10px;
        width: 100%;
        text-align: center;
        color: var(--black-color);
        position: absolute;
        z-index: 2;
        opacity: 0.7;
        font-size: 12pt;
        letter-spacing: 1px;
    }
    .team .container .elements .team-member .block-2 span {
        bottom: 0;
        right: 0;
        width: 100%;
        text-align: center;
        background: var(--main-color);
        padding: 10px;
        color: var(--black-color);
        position: absolute;
        z-index: 2;
        opacity: 0.7;
        font-size: 12pt;
        letter-spacing: 1px;
    }
    .team .container .elements .team-member .block-3 span {
        bottom: 0;
        right: 0;
        width: 100%;
        text-align: center;
        background: var(--main-color);
        padding: 10px;
        color: var(--black-color);
        position: absolute;
        z-index: 2;
        opacity: 0.7;
        font-size: 12pt;
        letter-spacing: 1px;
    }
    .team .container .elements .team-member .block-4 span {
        bottom: 0;
        right: 0;
        width: 100%;
        background: var(--main-color);
        padding: 10px;
        text-align: center;
        color: var(--black-color);
        position: absolute;
        z-index: 2;
        opacity: 0.7;
        font-size: 12pt;
        letter-spacing: 1px;
    }
    
    .team .container .elements .team-member .block-1,
    .team .container .elements .team-member .block-2,
    .team .container .elements .team-member .block-3,
    .team .container .elements .team-member .block-4 {
        margin-bottom: 40px;
    }
    .team .container .elements .team-member .block-1 p,
    .team .container .elements .team-member .block-2 p,
    .team .container .elements .team-member .block-3 p,
    .team .container .elements .team-member .block-4 p{
        font-size: 12pt;
        color: var(--secondary-color);
        line-height: var(--line-height);
        text-align: center;
        border: #DFDFDF 1px solid;
        margin-top: 0;
        padding: 10px;
    }
    @media (min-width: 600px) {
        .team .container .custom-content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
            grid-gap: 20px;
        }
    }
    .team .container .custom-content .block {
        z-index: 2;
    }
    @media (min-width: 300px) {
        .block .text p {
            font-size: 12pt;
            color: var(--secondary-color);
            margin-left: auto;
            font-size: 12pt;
            color: var(--secondary-color);
            text-align: center;
            margin-right: auto;
        }
        .team .container .custom-content .main-paragraph p {
            font-size: 12pt;
            color: #fff;
            background-color: black;
            padding: 30px;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            line-height: var(--line-height);
        }
    }
    @media (min-width: 609px) {
        .block .text p {
            font-size: 12pt;
            color: var(--secondary-color);
            margin-left: auto;
            width: 380px;
            font-size: 12pt;
            color: var(--secondary-color);
            text-align: center;
            margin-right: auto;
        }
        .team .container .custom-content .main-paragraph p {
            font-size: 12pt;
            color: #fff;
            background-color: black;
            width: 560px;
            padding: 30px;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            line-height: var(--line-height);
        }
    }
    .block .imag img {
        width: 100%;
    }
    @media (min-width: 300px) {
        .block .text .sign {
            font-size: 12pt;
            color: black;
            font-style: italic;
            text-align: center;
        }
        .block .text .sign-right {
            padding-bottom: 20px;
            font-size: 12pt;
            color: black;
            font-style: italic;
            text-align: center;
        }
    }
    @media (min-width: 1199px) {
        .block .text .sign {
            font-size: 12pt;
            color: black;
            font-style: italic;
            text-align: left;
        }
        .block .text .sign-right {
            padding-bottom: 20px;
            font-size: 12pt;
            color: black;
            font-style: italic;
            text-align: right;
        }
    }
    .team .container .custom-content {
        margin-bottom: 30px;
    }
    @media (min-width: 300px) {
        .team .yeloo span {
            position: absolute;
            width: 100%;
            height: 209px;
            bottom: 173px;
            z-index: 1;
        }
    }
    @media (min-width: 1200px) {
        .team .yeloo span {
            position: absolute;
            width: 100%;
            height: 205px;
            background-color: var(--main-color);
            bottom: 231px;
            z-index: 1;
        }
    }
    /*End Team*/
    /*Start Footer*/
    .footer {
        background-color: var(--black-color);
        margin-top: 4px;
        padding-top: 40px;
        color: #fff;
    }
    @media (min-width: 300px) {
        .footer .block {
            text-align: center;
        }
        footer .block .copy {
            font-size: 12pt;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .footer .block .text p {
            font-size: 12pt;
            font-weight: 300;
            text-align: center;
            width: 100%;
            color: #fff;
        }
    }
    @media (min-width: 1000px) {
        .footer .container .contents {
            display: grid;
            grid-template-columns: [first] 45% 45% [end];
            grid-gap: 20px;
        }
        .footer .container .contents .block {
            text-align: left;
        }
        .footer .block .text p {
            font-size: 12pt;
            font-weight: 300;
            text-align: center;
            color: #fff;
            width: 100%;
        }
    }
    @media (min-width: 1238px) {
        .footer .container .contents {
            display: grid;
            grid-template-columns: [first] 33% [line2] 15% [line3] 15% 32% [end];
            grid-gap: 19px;
        }
        .footer .container .contents .block {
            text-align: left;
        }
        .footer .block .text p {
            font-size: 12pt;
            font-weight: 300;
            text-align: left;
            color: #fff;
        }
    }
    .footer .block .logo {
        padding-left: 10px;
    }
    @media (min-width: 300px) {
        .footer .block .copy {
            font-size: 12pt;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    @media (min-width: 1000px) {
        .footer .block .copy {
            font-size: 12pt;
            display: flex;
            text-align: left;
            justify-content: flex-start
        }
    }
    .footer .block .title {
        font-size: 15pt;
        font-weight: 300;
    }
    .footer .block ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .footer .block ul li {
        margin: 18px 0;
    }
    .footer .block ul li a {
        text-decoration: none;
        font-size: 12pt;
        color: #fff;
        padding: 10px 0;
        font-weight: 300;
    }
    @media (min-width: 300px) {
        .footer .block .text p {
            font-size: 12pt;
            font-weight: 300;
            text-align: center;
            color: #fff;
            width: 100%;
        }
    }
    @media (min-width: 1000px) {
        .footer .block .text p {
            font-size: 12pt;
            font-weight: 300;
            text-align: left;
            color: #fff;
        }
    }
    @media (min-width: 333px) {
        .footer .block .text .email {
            margin-top: 32px;
            margin-bottom: 32px;
        }
    }
    @media (min-width: 999px) {
        .footer .block .text .email {
            margin-top: 32px;
            margin-bottom: 32px;
        }
    }
    @media (min-width: 1237px) {
        .footer .block .text .email {
            margin-top: 48px;
            margin-bottom: 48px;
        }
    }
    @media (min-width: 300px) {
        .footer .block .text span a {
            text-decoration: none;
            padding: 11px 22px;
            background-color: var(--main-color);
            color: black;
            font-size: 13pt;
            border-radius: 20px;
        }
    }
    .facebook::before {
        font-family: "FontAwesome";
        content: "\f09a";
        color: black;
        background-color: #fff;
        font-size: 15px;
    }
    .facebook {
        background: #fff;
    }
    @media (min-width: 300px) {
        .social-media [class*="fa fa-"] {
            background-color: #fff;
            border-radius: 30px;
            color: black;
            display: inline-block;
            height: 25px;
            line-height: 25px;
            margin: auto 7px;
            width: 25px;
            font-weight: 300;
            font-size: 21px;
            text-align: center;
            text-decoration: none;
        }
    }
    @media (min-width: 700px) {
        .social-media [class*="fa fa-"] {
            background-color: #fff;
            border-radius: 30px;
            color: black;
            display: inline-block;
            height: 50px;
            line-height: 50px;
            margin: auto 7px;
            width: 50px;
            font-weight: 300;
            font-size: 21px;
            text-align: center;
            text-decoration: none;
        }
    }
    @media (min-width: 300px) {
        .social-media {
            margin-top: 20px;
        }
    }
    .social {
        padding-top: 20;
    }
    /*End Footer*/
